<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="style.css"/>
    <title>{% block title %}My amazing blog{% endblock %}</title>
</head>
<body>
    <header>
        {% block header %}
            <p>The header content goes here...</p>
        {% endblock %}
    </header>
    <div id="content">
        {% block content %}
            <p>This block must be inherited</p>
        {% endblock %}
    </div>
    <aside>
        {% block sidebar %}
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/contacts/">Contacts</a></li>
        </ul>
        {% endblock %}
    </aside>
    <footer>
        {% block footer %}
            <p>Copyright stuff goes here...</p>
        {% endblock %}
    </footer>
</body>
</html>
    