{% if posts %}
    <ul>
    {% for post in posts %}
        <li><a href="{% url 'post_detail' post.slug %}">{{ post.title }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>Il blog non contiene post</p>
{% endif %}